params {
    containers = [
        dorado  : ".../containers/dorado_1.4.0-cuda12.2.0.sif",
        samtools: ".../containers/samtools_1.23.1.sif",
        clairs  : ".../containers/clairs_to.sif",
        modkit  : ".../containers/modkit_latest.sif",
        ichorcna: ".../containers/ichorcna_v2.0.sif"
    ]
}




workDir = "/scratch/prj/awan_giu/amanda/nextflow_work"

process {
    executor = "slurm"
    queue = "celgene_gpu"

    withName: "CLAIRS" {
        queue = 'celgene_gpu'
        container = params.containers.clairs
        cpus   = 64
        memory = "256 GB"
        time   = "48h"
    }

    withName: DORADO_BASECALL {
        queue = 'celgene_gpu'
        cpus = 16
        memory = '96 GB'
        time = '48h'
        clusterOptions = '--gres=gpu:1'
        containerOptions = '--nv'
    }

    withName: SAMTOOLS_SORT_INDEX {
        queue = 'celgene_gpu'
        cpus = 16
        memory = '64 GB'
        time = '48h'
    }
    withName: "MODKIT" {
        queue = 'celgene_gpu'
        container = params.containers.modkit
        cpus   = 64
        memory = "92 GB"
        time   = "48h"
    }

    withName: "ICHORCNA_READCOUNTER" {
        queue = 'celgene_gpu'
        container = params.containers.ichorcna
        cpus   = 8
        memory = "64 GB"
        time   = "48h"
    }

    withName: "ICHORCNA_RUN" {
        queue = 'celgene_gpu'
        container = params.containers.ichorcna
        cpus   = 8
        memory = "64 GB"
        time   = "48h"
    }
}

apptainer {
    enabled = true
    autoMounts = true

    runOptions = "--bind /scratch,/users,/tmp,/cephfs,/scratch/prj/awan_giu/amanda/ucsc_data:/ucsc_data"
}
